<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Keep WFLogger disabled for best protection. 
Note: With WFLogger enabled I will try my best to protect you from crashing but there's still a chance of crash with malformed names. </string>
			<key>label</key>
			<string>For Power Users</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>in.net.mario.tweak.wfloggerfixprefs</string>
			<key>key</key>
			<string>enablelog</string>
			<key>label</key>
			<string>Enable WFLogger</string>
		</dict>
		<dict>
			<key>action</key>
			<string>wifidNotify</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply Change</string>
		</dict>
	</array>
	<key>title</key>
	<string>WiFiNameBugFix</string>
</dict>
</plist>
